body {
	font-family: Monospace;
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}
#info {
	color: #000;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
	display: block;
}
#controls {
	color: #000;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 100;
	display: block;
}
a {
	color: #000;
}

